<footer class="footer">
    <div class="footer-links">
        <ul class="footer-links__items">
            <li class="footer-links__item">
                <a href="#">menu link</a>
            </li>
            <li class="footer-links__item">
                <a href="#">menu link</a>
            </li>
            <li class="footer-links__item">
                <a href="#">menu link</a>
            </li>
            <li class="footer-links__item">
                <a href="#">menu link</a>
            </li>
            <li class="footer-links__item">
                <a href="#">menu link</a>
            </li>
            <li class="footer-links__item">
                <a href="#">menu link</a>
            </li>
        </ul>
    </div>
    <div class="footer-info">
        <div class="footer-info__description">
            <p>Lorem ipsum fames posuere fermentum hendrerit eros cursus etiam, in mauris litora et enim eleifend eros hac, donec blandit dui sociosqu tempus sem magna hac vel dictumst quis suspendisse dui sed proin etiam, porttitor ut quisque sed erat fames ullamcorper, dictumst sem donec vestibulum quam platea adipiscing rutrum habitant sem sagittis ac arcu ullamcorper a feugiat, placerat adipiscing etiam senectus nam facilisis egestas justo sagittis, feugiat posuere amet primis curae id tincidunt erat taciti pharetra sagittis tincidunt consequat feugiat.</p>
        </div>
        <div class="footer-info__title">
            <p>The Site</p>
        </div>
    </div>
</footer>