<section class="top-section">
    <div class="main-article">
        <article>
            <h1 title="This is main header title">Lorem ipsum aenean iaculis elementum volutpat placerat fames nam.</h1>
            <p>Lorem ipsum scelerisque habitant varius mi hac elementum adipiscing commodo, dui sed pretium gravida inceptos netus lacinia hac mauris himenaeos, integer gravida lacus arcu vitae vulputate torquent hendrerit orci felis libero mauris dictum pretium dictum convallis mauris ultrices metus, himenaeos aenean porttitor curabitur etiam mauris ut sollicitudin nulla, aptent justo netus amet in libero morbi facilisis duis himenaeos odio fames platea dapibus proin dictumst quisque viverra aliquam class non aliquet.</p>
            <p>Lorem ipsum scelerisque habitant varius mi hac elementum adipiscing commodo, dui sed pretium gravida inceptos netus lacinia hac mauris himenaeos, integer gravida lacus arcu vitae vulputate torquent hendrerit orci felis libero mauris dictum pretium dictum convallis mauris ultrices metus, himenaeos aenean porttitor curabitur etiam mauris ut sollicitudin nulla, aptent justo netus amet in libero morbi facilisis duis himenaeos odio fames platea dapibus proin dictumst quisque viverra aliquam class non aliquet.</p>
            <p>Lorem ipsum scelerisque habitant varius mi hac elementum adipiscing commodo, dui sed pretium gravida inceptos netus lacinia hac mauris himenaeos, integer gravida lacus arcu vitae vulputate torquent hendrerit orci felis libero mauris dictum pretium dictum convallis mauris ultrices metus, himenaeos aenean porttitor curabitur etiam mauris ut sollicitudin nulla, aptent justo netus amet in libero morbi facilisis duis himenaeos odio fames platea dapibus proin dictumst quisque viverra aliquam class non aliquet.</p>
            <p>Lorem ipsum scelerisque habitant varius mi hac elementum adipiscing commodo, dui sed pretium gravida inceptos netus lacinia hac mauris himenaeos, integer gravida lacus arcu vitae vulputate torquent hendrerit orci felis libero mauris dictum pretium dictum convallis mauris ultrices metus, himenaeos aenean porttitor curabitur etiam mauris ut sollicitudin nulla, aptent justo netus amet in libero morbi facilisis duis himenaeos odio fames platea dapibus proin dictumst quisque viverra aliquam class non aliquet.</p>
            <p>Lorem ipsum scelerisque habitant varius mi hac elementum adipiscing commodo, dui sed pretium gravida inceptos netus lacinia hac mauris himenaeos, integer gravida lacus arcu vitae vulputate torquent hendrerit orci felis libero mauris dictum pretium dictum convallis mauris ultrices metus, himenaeos aenean porttitor curabitur etiam mauris ut sollicitudin nulla, aptent justo netus amet in libero morbi facilisis duis himenaeos odio fames platea dapibus proin dictumst quisque viverra aliquam class non aliquet.</p>
        </article>
        <div class="bottom-articles-wrapper">
            <article class="left-article">
                <p>Lorem ipsum scelerisque habitant varius mi hac elementum adipiscing commodo, dui sed pretium gravida inceptos netus lacinia hac mauris himenaeos, integer gravida lacus arcu vitae vulputate torquent hendrerit orci felis libero mauris dictum pretium dictum convallis mauris ultrices metus, himenaeos aenean porttitor curabitur etiam mauris ut sollicitudin nulla, aptent justo netus amet in libero morbi facilisis duis himenaeos odio fames platea dapibus proin dictumst quisque viverra aliquam class non aliquet.</p>
            </article>
            <article class="right-article">
                <h3 title="Some usefull links">Lorem ipsum scelerisque habitant</h3>
                <a href="#">Lorem ipsum scelerisque habitant</a>
                <a href="#">Lorem ipsum scelerisque habitant</a>
                <a href="#">Lorem ipsum scelerisque habitant</a>
            </article>
        </div>
      </div>
    <aside>
        <h3 title="Side form title">Lorem ipsum aenean iaculis elementum volutpat placerat</h3>
        <p>Lorem ipsum scelerisque habitant varius mi hac elementum adipiscing commodo, dui sed pretium gravida inceptos netus lacinia hac mauris himenaeos, integer gravida lacus arcu vitae vulputate torquent hendrerit orci felis libero mauris dictum pretium dictum convallis mauris ultrices .</p>
        <form></form>
    </aside>
</section>
<section class="bottom-section">
    <article>
        <p>Lorem ipsum scelerisque habitant varius mi hac elementum adipiscing commodo, dui sed pretium gravida inceptos netus lacinia hac mauris himenaeos, integer gravida lacus arcu vitae vulputate torquent hendrerit orci felis libero mauris dictum pretium dictum convallis mauris ultrices metus, himenaeos aenean porttitor curabitur etiam mauris ut sollicitudin nulla, aptent justo netus amet in libero morbi facilisis duis himenaeos odio fames platea dapibus proin dictumst quisque viverra aliquam class non aliquet.</p>
    </article>
    <article>
        <p>Lorem ipsum scelerisque habitant varius mi hac elementum adipiscing commodo, dui sed pretium gravida inceptos netus lacinia hac mauris himenaeos, integer gravida lacus arcu vitae vulputate torquent hendrerit orci felis libero mauris dictum pretium dictum convallis mauris ultrices metus, himenaeos aenean porttitor curabitur etiam mauris ut sollicitudin nulla, aptent justo netus amet in libero morbi facilisis duis himenaeos odio fames platea dapibus proin dictumst quisque viverra aliquam class non aliquet.</p>
    </article>
    <article>
        <p>Lorem ipsum scelerisque habitant varius mi hac elementum adipiscing commodo, dui sed pretium gravida inceptos netus lacinia hac mauris himenaeos, integer gravida lacus arcu vitae vulputate torquent hendrerit orci felis libero mauris dictum pretium dictum convallis mauris ultrices metus, himenaeos aenean porttitor curabitur etiam mauris ut sollicitudin nulla, aptent justo netus amet in libero morbi facilisis duis himenaeos odio fames platea dapibus proin dictumst quisque viverra aliquam class non aliquet.</p>
    </article>
</section>