/* You can add global styles to this file, and also import other style files */
$strong-pink: #ff1b68
$weak-pink: #f73f7d
$white: #ffffff
$black: #000000
$dark-grey: #3c3a3a
$medium-grey: #b9b9b9
$light-grey: #e8e8e8
$light-blue: #88c6de
$light-red: #f99191
$dark-red: #ce2323
$light-green: #c6e0cd
$dark-green: #3dd617

$mobile-break-point: 800px
$article-break-point: 1000px

body
  margin: 0