/* You can add global styles to this file, and also import other style files */
$strong-pink: #ff1b68
$weak-pink: #f73f7d
$white: #ffffff
$black: #000000
$dark-grey: #3c3a3a

$mobile-break-point: 800px

body
  margin: 0